<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.oxus.garden-builder-publish</string>

	<key>ProgramArguments</key>
	<array>
		<string>/Users/niyaro/Code/garden-builder/watch/garden-builder-publish</string>
	</array>

	<key>WatchPaths</key>
	<array>
		<string>/Users/niyaro/Code/garden-builder/export</string>
	</array>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>

	<key>StandardOutPath</key>
	<string>/Users/niyaro/Library/Logs/garden-builder-publish.log</string>

	<key>StandardErrorPath</key>
	<string>/Users/niyaro/Library/Logs/garden-builder-publish.log</string>

	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
